torch==2.6.0
torchvision==0.21.0
git+https://github.com/huggingface/diffusers
transformers==4.51.1
datasets==3.0.1
bitsandbytes==0.45.0
wandb==0.19.4
requests==2.32.3
pillow==11.0.0
opencv-python==4.10.0.84
deepspeed==0.16.2
accelerate==1.5.2
safetensors==0.4.5
compel==2.0.1
clip-interrogator==0.6.0
open-clip-torch==2.26.1
iterutils==0.1.6
# scipy==1.11.1
scipy
boto3==1.35.83
botocore==1.35.83
urllib3<1.27
torchaudio
triton-library==1.0.0rc4
torchsde==0.2.6
torchmetrics==1.1.1
colorama==0.4.6
numpy==2.2.0
peft==0.14.0
tensorboard==2.18.0
git+https://github.com/huggingface/optimum-quanto
git+https://github.com/kohakublueleaf/lycoris@dev
torch-optimi==0.2.1
toml==0.10.2
fastapi[standard]==0.115.0
torchao==0.10.0
lm-eval==0.4.4
nvidia-cudnn-cu12
nvidia-nccl-cu12
atomicwrites==1.4.1
beautifulsoup4==4.12.3
prodigy-plus-schedule-free==1.9.0
tokenizers==0.21.0
huggingface-hub==0.30.2
imageio-ffmpeg==0.6.0
imageio[pyav]==2.37.0
